current_wf.json
{"updatedAt":"2026-04-04T02:04:04.759Z","createdAt":"2026-04-03T07:57:35.926Z","id":"nkp8BcGXisFl9HAN","name":"[PROD] Godmode Backfill V36 (Text-Only Stable)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"trigger","name":"Start Backfill","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[112,400]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  id,\n  CASE\n    WHEN \"messageType\" = 'conversation' THEN message->>'conversation'\n    WHEN \"messageType\" = 'extendedTextMessage' THEN message->'extendedTextMessage'->>'text'\n    ELSE ''\n  END as text_content,\n  \"pushName\",\n  \"messageTimestamp\"\nFROM evolution.\"Message\"\nWHERE \"messageType\" IN ('conversation', 'extendedTextMessage')\n  AND CASE\n    WHEN \"messageType\" = 'conversation' THEN length(message->>'conversation') > 30\n    WHEN \"messageType\" = 'extendedTextMessage' THEN length(message->'extendedTextMessage'->>'text') > 30\n    ELSE FALSE\n  END\nORDER BY \"messageTimestamp\" DESC\nLIMIT 5000","options":{}},"id":"fetch-all","name":"fetch-all","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[320,400],"credentials":{"postgres":{"id":"ym3KfQZLjCvWmUjS","name":"Postgres account"}}},{"parameters":{"options":{}},"id":"split-batches","name":"split-batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[544,400]},{"parameters":{"method":"POST","url":"https://api.sambanova.ai/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\"model\":\"Meta-Llama-3.1-8B-Instant\",\"messages\":[{\"role\":\"system\",\"content\":\"Eres un experto en bienes raíces de República Dominicana. Analiza el siguiente mensaje de un chat de WhatsApp inmobiliario y extrae la información del proyecto.\\n\\nResponde UNICAMENTE con JSON válido, sin markdown, sin backticks:\\n{{\\\"nombre_proyecto\\\": \\\"nombre del proyecto o edificio\\\",\\\"zona\\\": \\\"ubicación/sector\\\",\\\"comision\\\": \\\"porcentaje o monto\\\",\\\"precio\\\": \\\"precio en USD o RD$\\\",\\\"descripcion\\\": \\\"resumen corto\\\",\\\"contacto\\\": \\\"nombre y teléfono\\\"}}\\n\\nReglas:\\n- nombre_proyecto: nombre real del edificio/proyecto. Si no hay nombre específico, usa la dirección\\n- Si el mensaje NO es sobre bienes raíces (es saludo, spam, etc): nombre_proyecto=SKIP\\n- Si no hay dato: pon N/A\"},{\"role\":\"user\",\"content\":\"\" + ($json.text_content || \"\").replace(/[\\\\\"\\']/g, \" \").substring(0, 1500)}}],\"max_tokens\":400,\"temperature\":0.1}}","options":{"timeout":30000}},"id":"ai-call","name":"SambaNova AI","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[768,400],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"u46bitcJQIW1QNfu","name":"Header Auth account 2"}},"continueOnFail":true},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  try {\n    const raw = item.json;\n    let aiText = '';\n    \n    if (raw.choices && raw.choices[0] && raw.choices[0].message) {\n      aiText = raw.choices[0].message.content || '';\n    } else if (raw.error) {\n      results.push({ json: { nombre_proyecto: 'SKIP', _error: String(raw.error) } });\n      continue;\n    } else {\n      results.push({ json: { nombre_proyecto: 'SKIP', _error: 'no choices' } });\n      continue;\n    }\n    \n    // Clean markdown\n    aiText = aiText.replace(/```json/g, '').replace(/```/g, '').trim();\n    \n    let parsed;\n    try {\n      parsed = JSON.parse(aiText);\n    } catch(e) {\n      const m = aiText.match(/\\{[\\s\\S]*?\\}/);\n      if (m) {\n        try { parsed = JSON.parse(m[0]); } catch(e2) {\n          results.push({ json: { nombre_proyecto: 'SKIP', _error: 'parse fail: ' + aiText.substring(0, 100) } });\n          continue;\n        }\n      } else {\n        results.push({ json: { nombre_proyecto: 'SKIP', _error: 'no JSON found' } });\n        continue;\n      }\n    }\n    \n    const name = (parsed.nombre_proyecto || '').trim();\n    if (!name || name === 'SKIP' || name === 'N/A' || name.length < 3) {\n      results.push({ json: { nombre_proyecto: 'SKIP' } });\n      continue;\n    }\n\n    // Escape single quotes for SQL\n    const safeName = name.replace(/'/g, \"''\");\n    const safeZona = (parsed.zona || 'N/A').replace(/'/g, \"''\");\n    const safeComision = (parsed.comision || 'N/A').replace(/'/g, \"''\");\n    const safePrecio = (parsed.precio || 'N/A').replace(/'/g, \"''\");\n    const safeDesc = (parsed.descripcion || '').replace(/'/g, \"''\");\n    const safeContacto = (parsed.contacto || '').replace(/'/g, \"''\");\n    \n    const metadata = JSON.stringify({\n      precio: parsed.precio || 'N/A',\n      descripcion: parsed.descripcion || '',\n      contacto: parsed.contacto || '',\n      raw_ai: aiText.substring(0, 300)\n    }).replace(/'/g, \"''\");\n    \n    results.push({\n      json: {\n        nombre_proyecto: safeName,\n        tipo_activo: 'WhatsApp',\n        url_activo: 'N/A',\n        stock_disponible: true,\n        zona: safeZona,\n        comision: safeComision,\n        precio: safePrecio,\n        descripcion: safeDesc,\n        contacto: safeContacto,\n        metadata_json: metadata\n      }\n    });\n  } catch(e) {\n    results.push({ json: { nombre_proyecto: 'SKIP', _error: e.message } });\n  }\n}\n\nreturn results;"},"id":"process-logic","name":"process-logic","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,400]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.nombre_proyecto}}","operation":"notEqual","value2":"SKIP"}]}},"id":"filter-node","name":"filter-node","type":"n8n-nodes-base.if","typeVersion":1,"position":[1232,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.inventario_digital \n  (nombre_proyecto, tipo_activo, url_activo, stock_disponible, zona, comision, precio, descripcion, contacto, metadata)\nVALUES (\n  '{{ $json.nombre_proyecto }}',\n  '{{ $json.tipo_activo }}',\n  '{{ $json.url_activo }}',\n  {{ $json.stock_disponible }},\n  '{{ $json.zona }}',\n  '{{ $json.comision }}',\n  '{{ $json.precio }}',\n  '{{ $json.descripcion }}',\n  '{{ $json.contacto }}',\n  '{{ $json.metadata_json }}'::jsonb\n)\nON CONFLICT (nombre_proyecto) \nDO UPDATE SET\n  zona = CASE WHEN EXCLUDED.zona != 'N/A' AND EXCLUDED.zona != '' THEN EXCLUDED.zona ELSE inventario_digital.zona END,\n  comision = CASE \n    WHEN COALESCE(NULLIF(regexp_replace(EXCLUDED.comision, '[^0-9.]', '', 'g'), '')::numeric, 0) >\n         COALESCE(NULLIF(regexp_replace(inventario_digital.comision, '[^0-9.]', '', 'g'), '')::numeric, 0)\n    THEN EXCLUDED.comision ELSE inventario_digital.comision END,\n  precio = CASE WHEN EXCLUDED.precio != 'N/A' THEN EXCLUDED.precio ELSE inventario_digital.precio END,\n  descripcion = CASE WHEN EXCLUDED.descripcion != '' THEN EXCLUDED.descripcion ELSE inventario_digital.descripcion END,\n  contacto = CASE WHEN EXCLUDED.contacto != '' THEN EXCLUDED.contacto ELSE inventario_digital.contacto END,\n  metadata = inventario_digital.metadata || EXCLUDED.metadata,\n  fecha_actualizacion = NOW();","options":{}},"id":"upsert-node","name":"upsert-node","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[1440,352],"credentials":{"postgres":{"id":"ym3KfQZLjCvWmUjS","name":"Postgres account"}},"continueOnFail":true},{"parameters":{"jsCode":"await new Promise(r => setTimeout(r, 8000));\nreturn $input.all();"},"id":"delay-node","name":"delay-node","type":"n8n-nodes-base.code","typeVersion":2,"position":[1664,400]}],"connections":{"Start Backfill":{"main":[[{"node":"fetch-all","type":"main","index":0}]]},"fetch-all":{"main":[[{"node":"split-batches","type":"main","index":0}]]},"split-batches":{"main":[[],[{"node":"SambaNova AI","type":"main","index":0}]]},"SambaNova AI":{"main":[[{"node":"process-logic","type":"main","index":0}]]},"process-logic":{"main":[[{"node":"filter-node","type":"main","index":0}]]},"filter-node":{"main":[[{"node":"upsert-node","type":"main","index":0}],[{"node":"delay-node","type":"main","index":0}]]},"upsert-node":{"main":[[{"node":"delay-node","type":"main","index":0}]]},"delay-node":{"main":[[{"node":"split-batches","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"executionTimeout":86400,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f74d8c14-569c-428d-a161-68919a94e335","activeVersionId":null,"versionCounter":19,"triggerCount":0,"shared":[{"updatedAt":"2026-04-03T07:57:35.926Z","createdAt":"2026-04-03T07:57:35.926Z","role":"workflow:owner","workflowId":"nkp8BcGXisFl9HAN","projectId":"lPAtobNmuANXSVmX","project":{"updatedAt":"2026-03-22T06:20:26.986Z","createdAt":"2026-03-22T06:09:18.450Z","id":"lPAtobNmuANXSVmX","name":"Angel Luis E.A. Encarnacion Alcantara <angelluis.encarnacion2000@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f67f6042-11b7-4147-a373-585decca9153"}}],"tags":[],"activeVersion":null}