n8n/list_response_utf8.json
{"data":[{"updatedAt":"2026-03-20T05:04:37.827Z","createdAt":"2026-03-20T05:04:37.827Z","id":"4YOlToQhmhdQ4hVY","name":"[Godmode] 1. Tracking Ingestor (Neon)","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"tracking","responseMode":"lastNode","options":{}},"id":"855af0f6-ea5d-4064-b7f1-da56674bb693","name":"Tracking Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,304],"webhookId":"399f4a04-cdb8-4021-921d-47a1091890ac"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"name","value":"tracking_eventos"},"columns":{"mappingMode":"defineBelow","value":{"usuario_id":"={{ $json.body.usuario_id }}","evento":"={{ $json.body.evento }}","seccion":"={{ $json.body.seccion }}","metadatos":"={{ $json.body.metadatos || {} }}"}},"options":{}},"id":"d672aba3-2552-4285-8ee0-5f5a0f92a1d6","name":"Insert Tracking Event","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,304]},{"parameters":{"operation":"executeQuery","query":"UPDATE perfil_usuario SET score_interes = COALESCE(score_interes, '{}'::jsonb) || jsonb_build_object(  CASE WHEN $1 LIKE '%Villa%' OR $1 LIKE '%Property%' THEN 'inmuebles' WHEN $1 LIKE '%Insurance%' OR $1 LIKE '%Seguro%' THEN 'seguros' WHEN $1 LIKE '%Hotel%' OR $1 LIKE '%Tour%' THEN 'turismo' ELSE 'general' END, COALESCE((score_interes->>CASE WHEN $1 LIKE '%Villa%' OR $1 LIKE '%Property%' THEN 'inmuebles' WHEN $1 LIKE '%Insurance%' OR $1 LIKE '%Seguro%' THEN 'seguros' WHEN $1 LIKE '%Hotel%' OR $1 LIKE '%Tour%' THEN 'turismo' ELSE 'general' END)::int, 0) + 1 ), ultima_actividad = NOW() WHERE usuario_id = $2","options":{"queryReplacement":"={{ $json.seccion }},{{ $(\"Tracking Webhook\").item.json.body.usuario_id }}"}},"id":"a03b423a-7707-4571-b97a-e43716047307","name":"Update User Profile Score","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,304]}],"connections":{"Tracking Webhook":{"main":[[{"node":"Insert Tracking Event","type":"main","index":0}]]},"Insert Tracking Event":{"main":[[{"node":"Update User Profile Score","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"b3d7356c-4ec4-4f80-b693-0930fc35217b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-20T05:04:37.830Z","createdAt":"2026-03-20T05:04:37.830Z","role":"workflow:owner","workflowId":"4YOlToQhmhdQ4hVY","projectId":"SSxRRBMLRDr5LbSR"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-03-20T05:05:14.237Z","createdAt":"2026-03-20T05:04:38.880Z","id":"ETCpEaiIPSSLTD1s","name":"[Godmode] 3. Email Reactivator (Groq)","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"id":"82e64700-21da-4bb8-833f-70b38141bf56","name":"Daily Schedule 9 AM","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[240,1072]},{"parameters":{"operation":"executeQuery","query":"SELECT p.usuario_id, u.email, u.nombre, p.intereses, p.score_interes, p.ultima_actividad FROM perfil_usuario p JOIN usuarios u ON p.usuario_id = u.id::text WHERE p.ultima_actividad < NOW() - INTERVAL '7 days' LIMIT 50","options":{}},"id":"02cd4648-66f2-429f-a8b9-21782818e8b8","name":"Get Inactive Users","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,1072]},{"parameters":{"promptType":"define","text":"=Genera un email de reactivaci├│n personalizado para {{ $json.nombre }}.\nIntereses: {{ JSON.stringify($json.intereses) }}\nScore: {{ JSON.stringify($json.score_interes) }}\nGenera SOLO HTML.","options":{"systemMessage":"Eres un experto en marketing de lujo para Novo Heritage."}},"id":"551b949b-e9b3-445b-a139-5ba2b0f4071f","name":"Generate Personalized Email","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[688,960]},{"parameters":{"model":"llama-3.3-70b-versatile","options":{"temperature":0.8}},"id":"9bb4af6c-6ada-4063-a6c9-4209dd7be616","name":"Groq Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[768,1184]},{"parameters":{"sendTo":"={{ $(\"Get Inactive Users\").item.json.email }}","subject":"={{ $(\"Get Inactive Users\").item.json.nombre }}, ofertas exclusivas","message":"={{ $json.output }}","options":{"senderName":"Novo Heritage"}},"id":"52e29878-c263-4d09-99ce-eee56e5b7a5a","name":"Send Reactivation Email","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1040,1072]}],"connections":{"Daily Schedule 9 AM":{"main":[[{"node":"Get Inactive Users","type":"main","index":0}]]},"Get Inactive Users":{"main":[[{"node":"Generate Personalized Email","type":"main","index":0}]]},"Generate Personalized Email":{"main":[[{"node":"Send Reactivation Email","type":"main","index":0}]]},"Groq Model":{"ai_languageModel":[[{"node":"Generate Personalized Email","type":"ai_languageModel","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"16cd68da-b0bb-4525-8f41-2a4a935da9c8","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-20T05:04:38.928Z","createdAt":"2026-03-20T05:04:38.928Z","role":"workflow:owner","workflowId":"ETCpEaiIPSSLTD1s","projectId":"SSxRRBMLRDr5LbSR"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-03-20T05:04:39.323Z","createdAt":"2026-03-20T05:04:39.323Z","id":"Mh2WXE9s289o9FaN","name":"[Godmode] 4. User Profile API","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"get-profile","responseMode":"lastNode","options":{}},"id":"1b19ff71-a60e-4067-8c78-9fbfd59ceff4","name":"Profile API Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,1488],"webhookId":"558c4cdb-7043-4a79-9181-41a834d1a8da"},{"parameters":{"operation":"executeQuery","query":"SELECT p.*, u.email, u.nombre FROM perfil_usuario p JOIN usuarios u ON p.usuario_id = u.id::text WHERE u.email = $1 LIMIT 1","options":{"queryReplacement":"={{ $json.query.email }}"}},"id":"8d14d54e-faae-4edb-ba3b-6c4e355bb82c","name":"Get User Profile","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,1488]},{"parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.usuario_id }}","operator":{"type":"string","operation":"exists"}}]}},"id":"3a7ae890-b3ad-475d-983a-4b29e8bf68d4","name":"Check Profile Exists","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[688,1488]},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"success","value":true,"type":"boolean"},{"id":"2","name":"profile","value":"={{ $json }}","type":"object"}]}},"id":"b0b98289-0bc6-4cf8-bba8-493db88f9b36","name":"Format Profile Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,1392]},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"success","value":false,"type":"boolean"},{"id":"2","name":"error","value":"Not found","type":"string"}]}},"id":"b90ad077-aab2-46f9-bc7a-7f1aa8a9519b","name":"Format Error Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,1584]}],"connections":{"Profile API Webhook":{"main":[[{"node":"Get User Profile","type":"main","index":0}]]},"Get User Profile":{"main":[[{"node":"Check Profile Exists","type":"main","index":0}]]},"Check Profile Exists":{"main":[[{"node":"Format Profile Response","type":"main","index":0}],[{"node":"Format Error Response","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"75cd0fa7-25f3-4036-a000-3a0eb7c1681c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-20T05:04:39.327Z","createdAt":"2026-03-20T05:04:39.327Z","role":"workflow:owner","workflowId":"Mh2WXE9s289o9FaN","projectId":"SSxRRBMLRDr5LbSR"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-03-20T05:00:04.858Z","createdAt":"2026-03-20T04:58:26.332Z","id":"gJEcJpR7HwmBT65c","name":"Novo Heritage Godmode Unified (Auto-Deployed)","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"tracking","responseMode":"lastNode","options":{}},"id":"855af0f6-ea5d-4064-b7f1-da56674bb693","name":"Tracking Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,304],"webhookId":"399f4a04-cdb8-4021-921d-47a1091890ac"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"name","value":"tracking_eventos"},"columns":{"mappingMode":"defineBelow","value":{"usuario_id":"={{ $json.body.usuario_id }}","evento":"={{ $json.body.evento }}","seccion":"={{ $json.body.seccion }}","metadatos":"={{ $json.body.metadatos || {} }}"}},"options":{}},"id":"d672aba3-2552-4285-8ee0-5f5a0f92a1d6","name":"Insert Tracking Event","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,304]},{"parameters":{"operation":"executeQuery","query":"UPDATE perfil_usuario SET score_interes = COALESCE(score_interes, '{}'::jsonb) || jsonb_build_object(  CASE WHEN $1 LIKE '%Villa%' OR $1 LIKE '%Property%' THEN 'inmuebles' WHEN $1 LIKE '%Insurance%' OR $1 LIKE '%Seguro%' THEN 'seguros' WHEN $1 LIKE '%Hotel%' OR $1 LIKE '%Tour%' THEN 'turismo' ELSE 'general' END, COALESCE((score_interes->>CASE WHEN $1 LIKE '%Villa%' OR $1 LIKE '%Property%' THEN 'inmuebles' WHEN $1 LIKE '%Insurance%' OR $1 LIKE '%Seguro%' THEN 'seguros' WHEN $1 LIKE '%Hotel%' OR $1 LIKE '%Tour%' THEN 'turismo' ELSE 'general' END)::int, 0) + 1 ), ultima_actividad = NOW() WHERE usuario_id = $2","options":{"queryReplacement":"={{ $json.seccion }},{{ $(\"Tracking Webhook\").item.json.body.usuario_id }}"}},"id":"a03b423a-7707-4571-b97a-e43716047307","name":"Update User Profile Score","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,304]},{"parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"lastNode","options":{}},"id":"de325382-e44a-47a7-b017-79aecf2cb96a","name":"WhatsApp Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,640],"webhookId":"9d3f0ec6-a003-43f4-a2e9-f9ff5c77f7af"},{"parameters":{"promptType":"define","text":"=Analiza el siguiente mensaje de WhatsApp y extrae la informaci├│n estructurada.\n\nMensaje: {{ $json.body.message }}\n\nExtrae:\n- intencion_compra: (baja/media/alta)\n- presupuesto: (monto num├⌐rico o \"no especificado\")\n- division: (Inmuebles/Seguros/Turismo)\n- tipo_producto: (descripci├│n del producto de inter├⌐s)\n- ubicacion: (ubicaci├│n mencionada o \"no especificada\")\n- notas: (observaciones adicionales relevantes)\n\nResponde SOLO con el JSON estructurado, sin texto adicional.","hasOutputParser":true,"options":{"systemMessage":"Eres un asistente de an├ílisis de intenci├│n de compra para Novo Heritage, una empresa premium de bienes ra├¡ces, seguros y turismo de lujo. Tu tarea es extraer informaci├│n estructurada de mensajes de clientes potenciales con precisi├│n y profesionalismo."}},"id":"2c079ee7-e7fc-4af8-a367-986d9f8bedb2","name":"Extract WhatsApp Intent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[464,528]},{"parameters":{"model":"llama-3.3-70b-versatile","options":{"temperature":0.3}},"id":"9bb4af6c-6ada-4063-a6c9-4209dd7be616","name":"Groq Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[480,752],"credentials":{"groqApi":{"id":"mTe5VHZ8ernWqLea","name":"Groq account"}}},{"parameters":{"jsonSchemaExample":{"intencion_compra":"alta","presupuesto":"500000","division":"Inmuebles","tipo_producto":"Villa de lujo","ubicacion":"Costa","notes":"Cliente premium"}},"id":"3181b716-d2ef-47a8-987b-d87ec8dd204a","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[608,752]},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"name","value":"proyectos_data"},"columns":{"mappingMode":"defineBelow","value":{"contenido":"={{ $json.output }}","tipo_contenido":"whatsapp_intent","nombre_proyecto":"={{ $json.output.division }} - {{ $json.output.tipo_producto }}"}},"options":{}},"id":"8b7c8ec1-bf98-4f15-8571-4f91e9a3fa28","name":"Save WhatsApp Project","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[816,640]},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"id":"82e64700-21da-4bb8-833f-70b38141bf56","name":"Daily Schedule 9 AM","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[240,1072]},{"parameters":{"operation":"executeQuery","query":"SELECT p.usuario_id, u.email, u.nombre, p.intereses, p.score_interes, p.ultima_actividad FROM perfil_usuario p JOIN usuarios u ON p.usuario_id = u.id::text WHERE p.ultima_actividad < NOW() - INTERVAL '7 days' LIMIT 50","options":{}},"id":"02cd4648-66f2-429f-a8b9-21782818e8b8","name":"Get Inactive Users","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,1072]},{"parameters":{"promptType":"define","text":"=Genera un email ultra-personalizado de reactivaci├│n para:\n\nNombre: {{ $json.nombre }}\nIntereses: {{ JSON.stringify($json.intereses) }}\nScore de Inter├⌐s: {{ JSON.stringify($json.score_interes) }}\n├Ültima Actividad: {{ $json.ultima_actividad }}\n\nGenera SOLO el cuerpo del email en HTML.","options":{"systemMessage":"Eres un experto en marketing de lujo para Novo Heritage."}},"id":"551b949b-e9b3-445b-a139-5ba2b0f4071f","name":"Generate Personalized Email","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[688,960]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"builtInTools":{},"options":{"temperature":0.8}},"id":"727ed734-850a-418b-9fc2-1f293bb75437","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[768,1184]},{"parameters":{"sendTo":"={{ $(\"Get Inactive Users\").item.json.email }}","subject":"={{ $(\"Get Inactive Users\").item.json.nombre }}, descubra nuevas oportunidades","message":"={{ $json.output }}","options":{"senderName":"Novo Heritage"}},"id":"52e29878-c263-4d09-99ce-eee56e5b7a5a","name":"Send Reactivation Email","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1040,1072],"webhookId":"9f9fef11-e6ce-41a4-8312-1504dc484f34"},{"parameters":{"path":"get-profile","responseMode":"lastNode","options":{}},"id":"1b19ff71-a60e-4067-8c78-9fbfd59ceff4","name":"Profile API Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,1488],"webhookId":"be4c6ed1-5561-463d-aa99-79c3e837f068"},{"parameters":{"operation":"executeQuery","query":"SELECT p.usuario_id, p.tipo_usuario, p.intereses, p.score_interes, p.ultima_actividad, u.email, u.nombre FROM perfil_usuario p JOIN usuarios u ON p.usuario_id = u.id::text WHERE u.email = $1 LIMIT 1","options":{"queryReplacement":"={{ $json.query.email }}"}},"id":"8d14d54e-faae-4edb-ba3b-6c4e355bb82c","name":"Get User Profile","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,1488]},{"parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.usuario_id }}","operator":{"type":"string","operation":"exists"}}]},"options":{}},"id":"3a7ae890-b3ad-475d-983a-4b29e8bf68d4","name":"Check Profile Exists","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[688,1488]},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"success","value":true,"type":"boolean"},{"id":"2","name":"profile","value":"={{ $json }}","type":"object"}]},"options":{}},"id":"b0b98289-0bc6-4cf8-bba8-493db88f9b36","name":"Format Profile Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,1392]},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"success","value":false,"type":"boolean"},{"id":"2","name":"error","value":"Profile not found","type":"string"}]},"options":{}},"id":"b90ad077-aab2-46f9-bc7a-7f1aa8a9519b","name":"Format Error Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,1584]}],"connections":{"Tracking Webhook":{"main":[[{"node":"Insert Tracking Event","type":"main","index":0}]]},"Insert Tracking Event":{"main":[[{"node":"Update User Profile Score","type":"main","index":0}]]},"WhatsApp Webhook":{"main":[[{"node":"Extract WhatsApp Intent","type":"main","index":0}]]},"Extract WhatsApp Intent":{"main":[[{"node":"Save WhatsApp Project","type":"main","index":0}]]},"Groq Model":{"ai_languageModel":[[{"node":"Extract WhatsApp Intent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Extract WhatsApp Intent","type":"ai_outputParser","index":0}]]},"Daily Schedule 9 AM":{"main":[[{"node":"Get Inactive Users","type":"main","index":0}]]},"Get Inactive Users":{"main":[[{"node":"Generate Personalized Email","type":"main","index":0}]]},"Generate Personalized Email":{"main":[[{"node":"Send Reactivation Email","type":"main","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"Generate Personalized Email","type":"ai_languageModel","index":0}]]},"Profile API Webhook":{"main":[[{"node":"Get User Profile","type":"main","index":0}]]},"Get User Profile":{"main":[[{"node":"Check Profile Exists","type":"main","index":0}]]},"Check Profile Exists":{"main":[[{"node":"Format Profile Response","type":"main","index":0}],[{"node":"Format Error Response","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"67968624-c5df-4d97-acd2-8f4770415a80","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-20T04:58:26.335Z","createdAt":"2026-03-20T04:58:26.335Z","role":"workflow:owner","workflowId":"gJEcJpR7HwmBT65c","projectId":"SSxRRBMLRDr5LbSR"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-03-20T05:04:38.280Z","createdAt":"2026-03-20T05:04:38.280Z","id":"yaDXX5MBFEopw3mt","name":"[Godmode] 2. WhatsApp Ingestor (Groq/Neon)","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","responseMode":"lastNode","options":{}},"id":"de325382-e44a-47a7-b017-79aecf2cb96a","name":"WhatsApp Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,640],"webhookId":"9d3f0ec6-a003-43f4-a2e9-f9ff5c77f7af"},{"parameters":{"promptType":"define","text":"=Analiza el siguiente mensaje de WhatsApp y extrae la informaci├│n estructurada.\n\nMensaje: {{ $json.body.message }}\n\nExtrae:\n- intencion_compra: (baja/media/alta)\n- presupuesto: (monto num├⌐rico o \"no especificado\")\n- division: (Inmuebles/Seguros/Turismo)\n- tipo_producto: (descripci├│n del producto de inter├⌐s)\n- ubicacion: (ubicaci├│n mencionada o \"no especificada\")\n- notas: (observaciones adicionales relevantes)\n\nResponde SOLO con el JSON estructurado, sin texto adicional.","hasOutputParser":true,"options":{"systemMessage":"Eres un asistente de an├ílisis de intenci├│n de compra para Novo Heritage."}},"id":"2c079ee7-e7fc-4af8-a367-986d9f8bedb2","name":"Extract WhatsApp Intent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[464,528]},{"parameters":{"model":"llama-3.3-70b-versatile","options":{"temperature":0.3}},"id":"9bb4af6c-6ada-4063-a6c9-4209dd7be616","name":"Groq Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[480,752]},{"parameters":{"jsonSchemaExample":{"intencion_compra":"alta","presupuesto":"500000","division":"Inmuebles","tipo_producto":"Villa","ubicacion":"Costa"}},"id":"3181b716-d2ef-47a8-987b-d87ec8dd204a","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[608,752]},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"name","value":"proyectos_data"},"columns":{"mappingMode":"defineBelow","value":{"contenido":"={{ $json.output }}","tipo_contenido":"whatsapp_intent","nombre_proyecto":"={{ $json.output.division }} - {{ $json.output.tipo_producto }}"}},"options":{}},"id":"8b7c8ec1-bf98-4f15-8571-4f91e9a3fa28","name":"Save WhatsApp Project","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[816,640]}],"connections":{"WhatsApp Webhook":{"main":[[{"node":"Extract WhatsApp Intent","type":"main","index":0}]]},"Extract WhatsApp Intent":{"main":[[{"node":"Save WhatsApp Project","type":"main","index":0}]]},"Groq Model":{"ai_languageModel":[[{"node":"Extract WhatsApp Intent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Extract WhatsApp Intent","type":"ai_outputParser","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"b597397f-0f5b-4cfb-b3b8-320732ae20d8","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-20T05:04:38.327Z","createdAt":"2026-03-20T05:04:38.327Z","role":"workflow:owner","workflowId":"yaDXX5MBFEopw3mt","projectId":"SSxRRBMLRDr5LbSR"}],"activeVersion":null,"tags":[]}],"nextCursor":null}
