n8n/whatsapp_railway_final.json
{
  "name": "🔥 Ingestor WhatsApp x Groq x Railway",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-ingest-ai",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-whatsapp-in",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 640]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza el mensaje de WhatsApp. Extrae TODOS los detalles de la propiedad con extremo profesionalismo.\n\nCuerpo del Mensaje:\n{{ $json.body.message || $json.body.Body || $json.body }}\n\nURL Multimedia Detectada (si aplica):\n{{ $node[\"WhatsApp Webhook\"].json.body.MediaUrl0 || '' }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres el Censor Oficial de Novo Heritage. Tu trabajo es FILTRAR y ESTRUCTURAR propiedades inmobiliarias que llegan por WhatsApp.\n\nREGLA 1: SOLO puedes aprobar propiedades que provengan evidentemente de CONSTRUCTORAS o desarrolladores directos (ej. proyectos nuevos, residenciales en pre-venta). RECHAZA propiedades de individuos particulares, anuncios genéricos, dueños directos («dueño vende») o que no parezcan profesionales.\nREGLA 2: Si es una constructora/proyecto válido, REDACTA UN TÍTULO PROFESIONAL (ej. 'Exclusivo Apartamento de 3 Habitaciones en Torre Lumen, Naco') ignorando la jerga de WhatsApp.\nREGLA 3: Extrae todos los datos posibles: precio, habitaciones, baños, metraje (área).\nREGLA 4: Extrae CUALQUIER URL multimedia (enlaces a Google Drive, YouTube, fotos, videos cortos, web) que estén en el mensaje. \nREGLA 5: Si hay una 'URL Multimedia Detectada' en el campo correspondiente, INCLÚYELA obligatoriamente en el array 'imagenes'. Es la foto real de la propiedad.\n\nSi se rechaza, pon 'aprobado': false y da un breve 'motivo_rechazo'."
        }
      },
      "id": "agent-groq",
      "name": "AI Filter & Extract (Groq)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [464, 528]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "model-groq",
      "name": "Groq Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [480, 752],
      "credentials": {
        "groqApi": {
          "id": "BjFpWR9T4H92nwl9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": {
          "aprobado": true,
          "motivo_rechazo": "",
          "titulo_profesional": "Villa de Lujo Punta Cana Resort",
          "descripcion": "Descripción depurada y profesional...",
          "tipo_propiedad": "villa",
          "constructora": "Desarrollos del Este",
          "precio": "550000",
          "habitaciones": 4,
          "banos": 4,
          "area_m2": 350,
          "ubicacion": "Punta Cana, La Altagracia",
          "imagenes": ["https://drive.google.com/xyz", "https://ejemplo.com/foto.jpg"]
        }
      },
      "id": "parser-groq",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [608, 752]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "18f1eb73-af0e-4ebd-a330-fef17ad99876",
              "leftValue": "={{ $json.output.aprobado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-approved",
      "name": "If Constructora Aprobada",
      "type": "n8n-nodes-base.if",
      "typeVersion": 3.2,
      "position": [816, 528]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.inventario_digital (nombre_proyecto, descripcion_limpia, precio, zona, habitaciones, banos, area_m2, multimedia, es_constructora_oficial, titulo_profesional) \nVALUES ($1, $2, $3, $4, $5, $6, $7, $8, true, $1)\nRETURNING id;",
        "options": {
          "queryParameters": "={{ [\n  $json.output.titulo_profesional || 'Proyecto Novo',\n  $json.output.descripcion || '',\n  $json.output.precio || 'Consultar',\n  $json.output.ubicacion || 'República Dominicana',\n  $json.output.habitaciones || 0,\n  $json.output.banos || 0,\n  $json.output.area_m2 || 0,\n  JSON.stringify($json.output.imagenes || [])\n] }}"
        }
      },
      "id": "insert-cockroach",
      "name": "Save to CockroachDB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1120, 420],
      "credentials": {
        "postgres": {
          "id": "CvfAMQyiDbqrANJd", 
          "name": "CockroachDB account"
        }
      }
    },
    {
      "parameters": {
        "content": "=Rechazado por IA. Motivo: {{ $json.output.motivo_rechazo }}"
      },
      "id": "reject-log",
      "name": "Log Rechazo",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 640]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "AI Filter & Extract (Groq)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Filter & Extract (Groq)": {
      "main": [
        [
          {
            "node": "If Constructora Aprobada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Filter & Extract (Groq)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Filter & Extract (Groq)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If Constructora Aprobada": {
      "main": [
        [
          {
            "node": "Save to Railway Database",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
