n8n/workflows/social-media-automation.json
{
  "name": "Social Media Daily Auto-Poster - Novo Heritage (Inventory Sync)",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9,
              "minute": 0
            }
          ]
        }
      },
      "id": "cron-daily",
      "name": "Daily 9AM Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.inventario_digital WHERE es_constructora_oficial = true ORDER BY created_at DESC LIMIT 5;",
        "options": {}
      },
      "id": "get-properties",
      "name": "Fetch Inventory (CockroachDB)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [200, 300],
      "credentials": {
        "postgres": {
          "id": "CvfAMQyiDbqrANJd",
          "name": "CockroachDB account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4-turbo",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres el Lead Content Strategist de Novo Heritage Group. Tu objetivo es convertir el inventario real en deseo aspiracional.\n\nESTILO:\n- Editorial de lujo (Tipo AD o Vogue Living)\n- No uses clichés de venta barata\n- Resalta la plusvalía y el diseño\n- Paleta visual: Oro, Negro, Blanco.\n\nENTRADA:\nRecibirás detalles de una propiedad real de nuestra base de datos."
            },
            {
              "role": "user",
              "content": "=Genera un post cautivador para la propiedad:\nProyecto: {{ $json.titulo_profesional }}\nUbicación: {{ $json.zona }}\nPrecio: {{ $json.precio }} USD\nCaracterísticas: {{ $json.habitaciones }} hab, {{ $json.banos }} baños, {{ $json.area_m2 }} m2.\nDescripción base: {{ $json.descripcion_limpia }}\n\nFORMATO JSON:\n{\"title\": \"Título Impactante\", \"content\": \"Texto sofisticado con emojis premium\", \"hashtags\": [\"#NovoHeritage\", \"#RealEstateRD\", \"#LuxuryLiving\"]}"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "ai-content-generator",
      "name": "🎯 AI Content Generator",
      "type": "@n8n/nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "openAiApi": "OpenAI"
      }
    },
    {
      "parameters": {
        "operation": "generateImage",
        "model": "dall-e-3",
        "prompt": "=Crea una imagen fotorrealista de alta gama estilo 'lifestyle luxury' basada en: {{ $node[\"Fetch Inventory (CockroachDB)\"].json.titulo_profesional }}. Entorno: {{ $node[\"Fetch Inventory (CockroachDB)\"].json.zona }}. Arquitectura moderna, iluminación dorada de atardecer, atmósfera Novo Heritage (Elegante, Poderosa, Minimalista). Sin texto en la imagen.",
        "size": "1024x1024",
        "quality": "hd",
        "style": "vivid"
      },
      "id": "image-generator",
      "name": "🎨 Generate Branded Image",
      "type": "@n8n/nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [700, 200],
      "credentials": {
        "openAiApi": "OpenAI"
      }
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nreturn {\n  json: {\n    title: data.title,\n    content: data.content,\n    hashtags: data.hashtags.join(' '),\n    fullPost: `${data.title}\n\n${data.content}\n\n${data.hashtags.join(' ')}`\n  }\n};"
      },
      "id": "format-data",
      "name": "🔄 Format Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 350]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "post",
        "message": "={{ $json.fullPost }}",
        "additionalFields": {
          "media": {
            "url": "={{ $('Upload Image').item.json.secure_url }}"
          }
        }
      },
      "id": "post-twitter",
      "name": "🐦 Post to X/Twitter",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [1150, 150],
      "credentials": {
        "twitterOAuth2Api": "Twitter"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "post",
        "operation": "create",
        "author": "me",
        "message": "={{ $json.fullPost }}"
      },
      "id": "post-linkedin",
      "name": "💼 Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 2,
      "position": [1150, 250],
      "credentials": {
        "linkedInOAuth2Api": "LinkedIn"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "upload",
        "binaryData": true,
        "options": {}
      },
      "id": "upload-cloudinary",
      "name": "☁️ Upload Image",
      "type": "n8n-nodes-base.cloudinary",
      "typeVersion": 1,
      "position": [950, 400],
      "credentials": {
        "cloudinaryApi": "Cloudinary"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/me/photos",
        "authentication": "oAuth2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.secure_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Format Data').item.json.fullPost }}"
            }
          ]
        },
        "options": {}
      },
      "id": "post-facebook",
      "name": "📘 Post to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1150, 350],
      "credentials": {
        "oAuth2Api": "Facebook"
      }
    },
    {
      "parameters": {
        "webhook": "instagram",
        "options": {}
      },
      "id": "post-instagram",
      "name": "📸 Post to Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [1150, 450],
      "credentials": {
        "oAuth2Api": "Instagram"
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "902d293f-366a-4934-be99-4c0cf9e3c97e",
              "leftValue": "={{ $json.content.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-content",
      "name": "✅ Validate Content",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 250]
    }
  ],
  "connections": {
    "Daily 9AM Trigger": {
      "main": [
        [
          {
            "node": "Fetch Inventory (CockroachDB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Inventory (CockroachDB)": {
      "main": [
        [
          {
            "node": "🎯 AI Content Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1"
}